{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container p-5 mt-5">
    <form action="" method="post">
      {% csrf_token %}
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlPassword" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleFormControlPassword" placeholder="Enter your password">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlPassword" class="form-label">Confirm Password</label>
    <input type="password" name="confirm_password" class="form-control" id="exampleFormControlPassword" placeholder="Enter your password">
  </div>
  <div class="mb-3">
  <select class="form-select" aria-label="Default select example" name="role">
    <option selected>Select Your Role</option>
    <option value="buyer">Startup Founder</option>
    <option value="seller">Organization</option>
    
  </select>
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
</div>


{% endblock %}