{% extends 'base.html' %}
{% load static %}
{% block body %}
<section id="about-us" class="row home-about">
    <div class="col-sm-6 about-img">
        <img src="{% static 'assets/images/about_home.jpg ' %}" alt="About Home">
    </div>
    <div class="col-sm-6 adout-det">
        <div class="layy">
            <b>About Business Space</b>
            <p>Business Space by Lifeart is located in one of Thiruvananthapuram’s most easily accessible and capital hubs of important offices & business establishments. This location is right 450 mts to the Official residence of the Governor of Kerala and hardly in the tri-junction centre of Kowdiar Palace, Kerala State Police Headquarters & Kanakakkunnu Palace, making your commute a breeze. Also situated right off the heart of the Capital City of Kerala, this building is a short drive from Thiruvananthapuram International Airport. Spread over 1300sqft, Business Space by Lifeart features a simple lounge, a beautiful corporate workspace that can help your business grow.  </p>
            
            <p>Our spaces are designed to promote productivity whether you're a team of one or 10, and month-to-month flexibility means your space is just as lively as you are. If you're looking for a well-connected and affordable office space, choose Business Space by Lifeart.</p>
           
        </div>
    </div>
</section>
{% endblock body %}