{% extends 'base.html' %}
{% load static %}
{% block body %}
<section id="pricing" class="row pricing">
    <div class="container">
        <div class="col-md-10">
        <div class="row pt-5">
            <h1>Buyer Application</h1>
           <h5>Terms and Conditions for Co-Working Space Rental Agreement</h5>
            <p>This agreement is entered into between [{{seller}}] and [{{workspace_name}}],
                regarding the rental of co-working space as outlined below:</p>
        </div>
        <div class="row">
            <ol>
                <li>1. Rental Period:</li>
                <p>The rental period shall commence on [start date] and shall continue on a [daily/weekly/monthly] basis
                    until terminated by either party in accordance with the terms of this Agreement.
                </p>
                <li>2. Rental Space:</li>
                <p>The Provider agrees to provide the Buyer with access to a designated co-working space located at
                    [address], along with access to common areas such as kitchen, restroom facilities, and meeting rooms
                    during regular business hours.
                </p>
                <li>3. Rental Fees:</li>
                <p>The Buyer agrees to pay the Provider a rental fee of [{{amount}}] per [day/week/month], payable in
                    advance on [{{Adv_amount}}].
                    Any additional services requested by the Buyer beyond the scope of this Agreement may incur
                    additional charges as agreed upon by both parties.
                </p>
                <li>4. Payment Terms:</li>
                <p>Payment for the rental fees shall be made by [payment method] on or before the due date specified in
                    the invoice provided by the Provider.
                    Failure to make timely payments may result in late fees or termination of this Agreement at the
                    discretion of the Provider.</p>
                <li>5. Use of Space:</li>
                <p>The Buyer agrees to use the rented co-working space solely for lawful purposes and in accordance with
                    any rules and regulations set forth by the Provider.
                    The Buyer shall not sublet or assign the rented space to any third party without the prior written
                    consent of the Provider.
                </p>
                <li>6. Maintenance and Repair:</li>
                <p>The Provider shall be responsible for the maintenance and repair of the co-working space, including
                    any necessary repairs to fixtures, utilities, or equipment provided by the Provider.
                    The Buyer agrees to promptly report any damages or issues with the rented space to the Provider.</p>
                <li>7. Termination:</li>
                <p>Either party may terminate this Agreement upon [number of days] written notice to the other party.
                    In the event of termination, any prepaid rental fees shall be refunded to the Buyer on a prorated
                    basis for any unused portion of the rental period.
                </p>
                <li>8. Liability:</li>
                <p>
                    The Provider shall not be liable for any damages, losses, or injuries sustained by the Buyer or any
                    third party while using the rented co-working space, except in cases of gross negligence or willful
                    misconduct by the Provider.
                    The Buyer agrees to indemnify and hold harmless the Provider from any claims arising out of the
                    Buyer's use of the rented space.</p>
                <li>9. Governing Law:</li>
                <p>
                    This Agreement shall be governed by and construed in accordance with the laws of [{{address}}].
                    Any disputes arising under this Agreement shall be resolved through arbitration in [city],
                    [{{address}}].</p>
                <li>10. Entire Agreement:</li>
                <p>
                    This Agreement constitutes the entire understanding between the parties with respect to the subject
                    matter hereof and supersedes all prior agreements and understandings, whether written or oral.
                    IN WITNESS WHEREOF, the parties hereto have executed this Agreement as of the date first above
                    written.
                </p>
            </ol>
                <h6>[{{buyer}}]</h6>
                <h6>[{{seller_email}}]</h6>
       
        </div>
        </div>
        <button class="btn btn-info"><a href="/sendmail/{{image_pk}}/{{seller_email}}/">confirm</a></button>
    </div>
</section>
{% endblock body %}