{% extends 'base.html' %}
{% load static %}
{% block body %}
 <!--  ************************* Contact Us Starts Here ************************** -->
              
     <section id="contact-us" class="contact-us row">
        <div class="container">
            <div class="row sec-title" style="margin-top: 40px;">
                  <h2>CONTACT US</h2>
                  <p>Let's discuss how we can help you get started <br>
                  You can reach us at
                  </p>
             </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="contat-det">
                       <i class="fas fa-map-marker-alt"></i>
                        <br>
                        <p>2nd Floor, Ashock Chambers,<br>  Roos Street, California</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contat-det">
                       <i class="fas fa-phone"></i>
                        <br>
                        <p> 0564 6786 <br>
                            +91 78556 42158, 
                            +91 86754 255552 <br>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contat-det">
                       <i class="fas fa-envelope"></i>
                        <br>
                        <p>helpworkingspace@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
     <!-- ######## Contact Us End ####### -->
{% endblock body %}