{% extends 'base.html' %}
{% load static %}
{% block body %}  
 
 <!--  ************************* Pricing Starts Here ************************** -->
                
            <section id="pricing" class="row pricing">
                <div class="container">
                    <div class="row sec-title" style="margin-top: 40px;">
                        <h2>OUR PRICING</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="price-tab">
                                <img src="{% static 'assets/images/price/price_01.jpg'%} " alt="price-1"><br>
                                <b>Office Desk</b>
                                <p>Starting at Rs.2500 / Month</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="price-tab">
                                <img src="{% static 'assets/images/price/price_02.jpg' %}" alt="price-2"><br>
                                <b>Conference Room</b>
                                <p>Starting at Rs.900 / 3 Hrs</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="price-tab">
                                <img src="{% static 'assets/images/price/price_03.jpg' %} " alt="price-3"><br>
                                <b>Flexi Desk</b>
                                <p>Per day Rs 300</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
        <!-- ######## Pricing End ####### -->
{% endblock body%}