{% extends 'base.html' %}
{% load static %}
{% block body %}

<section id="meeting-room" class="meeting-room row">
    <div class="container">
        <div class="row sec-title" style="margin-top: 40px;">
            <h2>Workspace</h2>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <table>
                <tr>
                    <th> Workspace Name</th>
                    <th> Address</th>
                    <th> Avaiable Desk</th>
                </tr>
                <tr>
                    <td> {{object.workspace_name}}</td>
                    <td> {{object.address}}</td>
                    <td> {{object.desk}}</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col mt-5">
            <form action="{% url 'SpaceImageView' object.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_table}}
                <input type="submit" name="Submit" class="btn btn-primary" />
            </form>
            </div>
        </div>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            {% for image in images %}
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                <img src="{{image.images.url}}" alt="image" style="width: 250px; height: 250px;" /><br />
                <p>{{image.category.name}}</p>
                <a href="{% url 'DeleteImageView' image.pk object.pk %}" class="btn btn-danger">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}